---
// export const prerender = false;

import PageLayout from "@layouts/PageLayout.astro"
import {SITE} from "@consts"

import TitleHeader from "@components/TitleHeader.astro";
import Accordion from "@components/Accordion.astro";
import PriceTagGenerator from "@components/PriceTagGenerator.astro";

---
<PageLayout title="Narzędzia" description={SITE.DESCRIPTION}>
            <!-- <div class="snap-y snap-mandatory h-screen w-screen mx:auto overflow-scroll no-scrollbar"> -->
                <div class="snap-center grid w-screen h-screen place-items-center relative text-center overflow-hidden ">
                    <div class="animate absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent via-80% via-transparent dark:to-[#001d29] to-white z-20"/>
                    <img
                            id="bg_img"
                            src="/imgs/bg.webp"
                            alt="Background"
                            class="absolute w-full h-full object-cover blur-xl brightness-[0.3] saturate-[0.4] transition-opacity duration-500 opacity-0 scale-[1.5]"
                            onload="this.classList.add('opacity-100'); this.classList.remove('opacity-0');"
                            decoding="async"
                            loading="eager"
                            draggable="false"
                    />
                    <div class="z-10 flex flex-col items-center space-y-4">
                        <TitleHeader text="NARZEDZIA" sub="Generatory i inne rzeczy"/>
                        <section class="animate animate-bounce">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                <path d="m480-259 176-177q5-5 12.5-5.5T682-436q6 6 6 12.5t-6 12.5L504-233q-5 5-10.5 7.5T480-223q-8 0-13.5-2.5T457-233L279-411q-6-5-6-12t6-13q6-6 12.5-6t13.5 6l175 177Zm0-278 176-178q5-5 12.5-4.5T682-715q6 7 6 13.5t-6 12.5L504-511q-5 4-10.5 7.5T480-500q-8 0-13.5-3.5T457-511L279-689q-6-5-6-12.5t6-13.5q6-6 12.5-6t13.5 6l175 178Z"/>
                            </svg>
                        </section>
                    </div>
                </div>


                <div class="snap-center grid w-screen h-auto ">
                    <div class="relative">
                       <div class="mx-auto max-w-screen-lg p-5 pb-16
                       delay-[300ms] duration-[600ms] taos:translate-y-[10%] [animation-iteration-count:infinite] taos:opacity-0" data-taos-offset="200">
                            
                            <Accordion title="Jak to działa?" details="Wersja beta (jak narazie prosta) używa świeżego API i generuje zdjęcie w Pythonie. Dzięk czemu czas oczekiwania jest minimalny! (Mniej niż sekunda)!"/>
                            <Accordion title="Gdzie można zmienić szablon?" details="Różne typy szablonu są dostępne tylko w wersji LEGACY"/>
                            <Accordion title="Jakie są różnice między wersjami BETA i LEGACY?" details="Wersja BETA jest szybsza i bardziej zautomatyzowana, ale posiada ograniczony wybór szablonów. Wersja LEGACY oferuje pełny zestaw opcji, lecz działa na starszym systemie." />

                        
                        <p id="beta_gen" class="text-center text-xl sm:text-2xl md:text-4xl font-bold uppercase mt-10 mb-8">
                            Generator Opisówek (Beta)
                        </p>
                        
                        <PriceTagGenerator/>
                        


                        <p class="text-center text-xl sm:text-2xl md:text-4xl font-bold uppercase mt-10">
                            Generator Opisówek (Legacy)
                        </p>

                        <a href="https://legacy.limsezam.ovh/generator" target="_blank" class="group mt-10 p-3 gap-3 flex items-center border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out">
                            <span class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white text-center">
                                Otwórz w nowym oknie
                            </span>
                        </a>
                        
                        <iframe title="legacy generator" loading="lazy" allowfullscreen class="h-screen w-full mt-10 rounded-lg"
                        src="https://legacy.limsezam.ovh/generator"
                        sandbox="allow-scripts allow-forms allow-modals allow-scripts allow-same-origin allow-top-navigation-by-user-activation allow-presentation allow-popups" />

                       </div>
                    </div>
                </div>
            <!-- </div> -->
</PageLayout>