---
---

<section class="space-y-4 delay-[300ms] duration-[600ms] taos:translate-y-[200px] [animation-iteration-count:infinite] taos:opacity-0" data-taos-offset="400">
    <div class="relative w-screen h-screen overflow-hidden transition-all duration-300 ease-in-out">
        <!-- Carousel Wrapper -->
        <div id="carousel" class="flex transition-transform duration-500 ease-in-out w-full h-full">
            <!-- First Slide -->
            <div class="w-full h-full flex-shrink-0 flex flex-col justify-center items-center text-center relative">
                <img src="/imgs/img_1.webp" alt="Img" class="absolute top-0 left-0 w-full h-full object-cover rounded-md -z-10"/>
                <div class="bg-black bg-opacity-50 w-full h-full flex flex-col justify-center items-center text-white px-4">
                    <p class="text-2xl sm:text-3xl md:text-4xl font-bold tracking-[0.8em] uppercase">Elektronika użytkowa</p>
                    <p class="text-sm sm:text-base mt-4 sm:mt-6 text-center max-w-xl">
                        Od najnowszych telewizorów o imponujących rozdzielczościach po smartfony i
                        laptopy. Niezależnie od tego, czy jesteś pasjonatem nowych technologii,
                        czy po prostu potrzebujesz sprawdzonego sprzętu, znajdziesz go u nas.
                    </p>
                </div>
            </div>

            <!-- Second Slide -->
            <div class="w-full h-full flex-shrink-0 flex flex-col justify-center items-center text-center relative">
                <img src="/imgs/img_2.webp" alt="Img" class="absolute top-0 left-0 w-full h-full object-cover rounded-md -z-10"/>
                <div class="bg-black bg-opacity-50 w-full h-full flex flex-col justify-center items-center text-white px-4">
                    <p class="text-2xl sm:text-3xl md:text-4xl font-bold tracking-[0.8em] uppercase">Sprzęt AGD</p>
                    <p class="text-sm sm:text-base mt-4 sm:mt-6 text-center max-w-xl">
                        Wyposaż swój dom w nowoczesne urządzenia, które ułatwią Ci codzienne życie.
                        Oferujemy pralki, lodówki, kuchenki i wiele innych produktów renomowanych marek.
                    </p>
                </div>
            </div>

            <!-- Third Slide -->
            <div class="w-full h-full flex-shrink-0 flex flex-col justify-center items-center text-center relative">
                <img src="/imgs/img_3.webp" alt="Img" class="absolute top-0 left-0 w-full h-full object-cover rounded-md -z-10"/>
                <div class="bg-black bg-opacity-50 w-full h-full flex flex-col justify-center items-center text-white px-4">
                    <p class="text-2xl sm:text-3xl md:text-4xl font-bold tracking-[0.8em] uppercase">Akcesoria i dodatki</p>
                    <p class="text-sm sm:text-base mt-4 sm:mt-6 text-center max-w-xl">
                        Znajdziesz u nas również szeroki wybór akcesoriów do elektroniki oraz artykułów gospodarstwa domowego,
                        które uzupełnią Twój sprzęt i uczynią życie jeszcze wygodniejszym.
                    </p>
                </div>
            </div>
        </div>

        <!-- Navigation Buttons -->
        <div class="opacity-0 md:opacity-100 lg:opacity-100 absolute flex justify-between w-full top-1/2 transform -translate-y-1/2 px-4">
            <!-- Previous Button (Left Arrow) -->
            <button id="prev" aria-label="previous"
                    class="backdrop-blur-sm group w-[3rem] p-2 gap-3 flex items-center justify-start border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"
                     class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white z-10">
                    <line x1="19" y1="12" x2="5" y2="12"
                          class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out"/>
                    <polyline points="12 5 5 12 12 19"
                              class="translate-x-2 group-hover:translate-x-1 transition-all duration-300 ease-in-out"/>
                </svg>
            </button>

            <!-- Next Button (Right Arrow) -->
            <button id="next" aria-label="next"
                    class="backdrop-blur-sm group w-[3rem] p-4 gap-3 flex items-center justify-end border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"
                     class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white z-10 min-h-[20px] min-w-[20px]">
                    <line x1="5" y1="12" x2="19" y2="12"
                          class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out"/>
                    <polyline points="12 5 19 12 12 19"
                              class="translate-x-0 group-hover:translate-x-1 transition-all duration-300 ease-in-out"/>
                </svg>
            </button>
        </div>
    </div>
</section>

<script defer is:inline src="/js/carousel.js"/>
