---
const { text, sub } = Astro.props;
---



<div id="animate" class="flex items-center justify-center">
    <div id="centerContent" class='relative w-full h-full flex items-center justify-center'>
        <div id="contentWrapper" class='p-5 text-center'>
            <p id="title" data-taos-offset="300" class='delay-[600ms] duration-[600ms] taos:translate-y-[20%] [animation-iteration-count:infinite] taos:opacity-0  text-6xl md:text-7xl lg:text-9xl  uppercase text-white font-stop'>
                {text}
            </p>
            <div id="typewriter-text" class="typewriter-container text-white ">
                <p class="delay-[300ms] duration-[600ms] taos:scale-[0.6] [animation-iteration-count:infinite] taos:opacity-0 text-sm md:text-base lg:text-lg">
                    {sub}
                </p>
            </div>

        </div>
    </div>
</div>

<!--<script is:inline data-astro-rerun async src="/js/headeranimation.js"/>-->
<!--<script is:inline data-astro-rerun async src="/js/typewriter.js"/>-->
